#header {
    @include position-fixed;
    z-index: 10000;
}

.header__inner {
    @include flex-between;
    background-color:  rgba(116, 99, 99, 0.1);
    backdrop-filter: blur(15px);
    padding: 1rem;
    .header__logo {
        font-size: 2.0rem; //1rem은 16px기준 root기준으로 바뀐다.rem은 미세하게 바뀌는 것 
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        
        em {
            font-size: 17px;
            display: block;
            color: var(--black200);
        }
    }
    .header__nav {
        @media (max-width: 815px){
            display: none;

            &.show { //show가 생겼을때 메뉴창이 나오게 하는 설정 
                display: block;

                ul {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 68px;
                    background-color: #e2e0e0;
                    opacity: 90%;
                    backdrop-filter: blur(15px);
                    z-index: 10000;
                    min-width: 150px;
                    padding: 20px 0;
                
                    li {
                        display: block;
                        text-align: right;
                        
                        a {
                            display: inline-block;
                            padding: 10px;
                        }
                    }
                }
               
            }
            &.show + .header__nav__mobile span::before {
                width: 20px;
            }
            &.show + .header__nav__mobile span::after {
                width: 20px;
            }
        } 
        
        li {
            display: inline;
    
            a {
                text-transform: uppercase;
                font-size: 20px;
                padding: 14px;
                position: relative;
    
                &::before {       //메뉴명에 밑줄생김
                    content: '';
                    width: calc(100% - 28px);
                    height: 1px;
                    background-color: var(--black);
                    position: absolute;
                    left: 14px;
                    bottom: 10px;
                    transform: scaleX(0); //가로의 크기가 0이여서 보이지 않게됨 
                    transition: all 0.3s;
                }
    
                &:hover::before {
                    transform: scaleX(1);  //scale을 0에서 1로 주게되면 없어졌다가 다시 나타남
                }
            }
        }
    }
    .header__nav__mobile {
        display: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: relative;

        @media (max-width: 815px){
            display: block;
        }
        
        span {
            display: block;
            width: 40px;
            height: 2px;
            background-color: var(--black);
            margin-top: 19px;
            position: relative;
        }

        &::before {
            content: "";   
            width: 40px;
            height: 2px;
            background-color: var(--black);
            position: absolute;
            right: 0;
            top: 6px;
            transition: width 0.3s;
        }
        &::after {
            content: "";
            width: 40px;
            height: 2px;
            background-color: var(--black);
            position: absolute;
            left: 0;
            bottom: 6px;
            transition: width 0.3s;
        }
    }

    // 자식관계이면 그 안에 써도 된다. 
}